Common.Lib.Integration/Service References/MetaSwitch/userData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.metaswitch.com/ems/soap/sh/userdata" xmlns:s="http://www.metaswitch.com/ems/soap/sh/servicedata" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.metaswitch.com/ems/soap/sh/userdata" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="serviceData.xsd" namespace="http://www.metaswitch.com/ems/soap/sh/servicedata" />
  <xs:simpleType name="tString" final="restriction list">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tSequenceNumber" final="restriction list">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="65535" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="tSh-Data">
    <xs:sequence>
      <xs:element name="RepositoryData" type="tTransparentData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tTransparentData">
    <xs:sequence>
      <xs:element name="ServiceIndication" type="tString" />
      <xs:element name="SequenceNumber" type="tSequenceNumber" />
      <xs:element name="ServiceData" type="s:tServiceData" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tUserData">
    <xs:sequence>
      <xs:element name="Sh-Data" type="tSh-Data" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>