Common.Lib.Integration/Service References/LargeScaleConferenceV1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="EntryAction_e">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EntryAction_NONE" />
      <xs:enumeration value="EntryAction_TONE" />
      <xs:enumeration value="EntryAction_RECORDEDNAME" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntryAction_e" nillable="true" type="tns:EntryAction_e" />
  <xs:simpleType name="EntryMode_e">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EntryMode_NORMAL" />
      <xs:enumeration value="EntryMode_MUTED" />
      <xs:enumeration value="EntryMode_MUTEDDTMF" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntryMode_e" nillable="true" type="tns:EntryMode_e" />
  <xs:simpleType name="ExitAction_e">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ExitAction_NONE" />
      <xs:enumeration value="ExitAction_TONE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExitAction_e" nillable="true" type="tns:ExitAction_e" />
  <xs:complexType name="RecordingsType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecordingFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecordingsType" nillable="true" type="tns:RecordingsType" />
  <xs:complexType name="ArrayOfRecordingsType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecordingsType" nillable="true" type="tns:RecordingsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecordingsType" nillable="true" type="tns:ArrayOfRecordingsType" />
  <xs:complexType name="BlackListType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallingParty" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlackListType" nillable="true" type="tns:BlackListType" />
  <xs:complexType name="ArrayOfBlackListType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlackListType" nillable="true" type="tns:BlackListType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlackListType" nillable="true" type="tns:ArrayOfBlackListType" />
  <xs:complexType name="AccessNumberType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccessNumberType" nillable="true" type="tns:AccessNumberType" />
  <xs:complexType name="ArrayOfAccessNumberType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessNumberType" nillable="true" type="tns:AccessNumberType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccessNumberType" nillable="true" type="tns:ArrayOfAccessNumberType" />
  <xs:complexType name="FreeConferenceType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessNumbers" nillable="true" type="tns:ArrayOfAccessNumberType" />
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AdminTerminate" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="BlackList" nillable="true" type="tns:ArrayOfBlackListType" />
      <xs:element minOccurs="0" name="ConferenceID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomIntroduction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Directory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryAction" nillable="true" type="tns:EntryAction_e" />
      <xs:element minOccurs="0" name="EntryMode" nillable="true" type="tns:EntryMode_e" />
      <xs:element minOccurs="0" name="ExitAction" nillable="true" type="tns:ExitAction_e" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayAttendeeCountOnEntry" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Recordings" nillable="true" type="tns:ArrayOfRecordingsType" />
      <xs:element minOccurs="0" name="SendEmailReport" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FreeConferenceType" nillable="true" type="tns:FreeConferenceType" />
  <xs:complexType name="ArrayOfFreeConferenceType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FreeConferenceType" nillable="true" type="tns:FreeConferenceType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFreeConferenceType" nillable="true" type="tns:ArrayOfFreeConferenceType" />
</xs:schema>