Common.Lib.Integration/Service References/LargeScaleConferenceV1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/LargeScaleConferenceV1/LargeScaleConference/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" />
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/LargeScaleConferenceV1/LargeScaleConference/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/APmaxProvisioning" />
  <xs:element name="DeleteRecording">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordingFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecordingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecording">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordingFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecordingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="FindRecordingResult" nillable="true" type="q1:RecordingsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecordingsForFreeConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindRecordingsForFreeConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="FindRecordingsForFreeConferenceResult" nillable="true" type="q2:ArrayOfRecordingsType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBlackListEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="blackListEntry" nillable="true" type="q3:BlackListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBlackListEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlackListEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="callingParty" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBlackListEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBlackListEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="callingParty" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBlackListEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="FindBlackListEntryResult" nillable="true" type="q4:BlackListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBlackListEntriesForFreeConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBlackListEntriesForFreeConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="FindBlackListEntriesForFreeConferenceResult" nillable="true" type="q5:ArrayOfBlackListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccessNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="accessNumberEntry" nillable="true" type="q6:AccessNumberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAccessNumberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccessNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accessNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccessNumberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccessNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accessNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccessNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="FindAccessNumberResult" nillable="true" type="q7:AccessNumberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccessNumbersForFreeConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccessNumbersForFreeConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="FindAccessNumbersForFreeConferenceResult" nillable="true" type="q8:ArrayOfAccessNumberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFreeConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="largeScaleConfSub" nillable="true" type="q9:FreeConferenceType" />
        <xs:element minOccurs="0" name="dedicated" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="subscriberInfo" nillable="true" type="q10:SubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFreeConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFreeConferenceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFreeConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="largeScaleConfSub" nillable="true" type="q11:FreeConferenceType" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="internetAccess" nillable="true" type="q12:InternetAccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFreeConferenceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFreeConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFreeConferenceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFreeConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFreeConferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="FindFreeConferenceResult" nillable="true" type="q13:FreeConferenceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeConferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFreeConferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="GetFreeConferencesResult" nillable="true" type="q14:ArrayOfFreeConferenceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFreeConferenceWAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="largeScaleConfSub" nillable="true" type="q15:FreeConferenceType" />
        <xs:element minOccurs="0" name="dedicated" type="xs:boolean" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="subscriberInfo" nillable="true" type="q16:SubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFreeConferenceWAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertFreeConferenceWAccountIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFreeConferenceWAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFreeConferenceWAccountIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFreeConferenceWAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFreeConferenceWAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="FindFreeConferenceWAccountIDResult" nillable="true" type="q17:FreeConferenceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomIntroduction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customIntroduction" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomIntroductionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetCustomIntroduction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetCustomIntroductionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomIntroductionWAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customIntroduction" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomIntroductionWAccountIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetCustomIntroductionWAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetCustomIntroductionWAccountIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CallMute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="call_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallMuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CallUnmute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="call_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallUnmuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IncreaseCallVolume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="call_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IncreaseCallVolumeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DecreaseCallVolume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="call_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecreaseCallVolumeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCallVolume">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="call_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="volume" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCallVolumeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="call_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCallAndMarkBlocked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="call_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCallAndMarkBlockedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendConferenceStatusReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conference_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendConferenceStatusReportResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LockConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conference_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LockConferenceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockConference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conference_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockConferenceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAttendeeName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="call_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAttendeeNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRecording">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conf_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartRecordingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopRecording">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conf_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopRecordingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEntryMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conf_id" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="entryMode" type="q18:EntryMode_e" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEntryModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEntryAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conf_id" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="entryAction" type="q19:EntryAction_e" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEntryActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExitAction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conf_id" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LargeScaleConferenceV1" minOccurs="0" name="exitAction" type="q20:ExitAction_e" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExitActionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTerminateOnExit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conf_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="terminate" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTerminateOnExitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayAttendeeCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conf_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="playCount" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlayAttendeeCountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="conf_id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sendEmail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSendEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>