Common.Lib.Integration/Service References/CallingNumberAnnouncementV3/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/CNAService/CNAServiceV3/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CNAServiceV3" />
  <xs:element name="GetAllCnaAnnouncements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCnaAnnouncementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CNAServiceV3" minOccurs="0" name="GetAllCnaAnnouncementsResult" nillable="true" type="q1:ArrayOfCnaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCnaNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCnaNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CNAServiceV3" minOccurs="0" name="GetCnaNumberResult" nillable="true" type="q2:CnaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCnaNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CNAServiceV3" minOccurs="0" name="cnaNumber" nillable="true" type="q3:CnaInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCnaNumberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCnaNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCnaNumberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>