Common.Lib.Integration/Service References/LocalNumberPortabilityV1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LocalNumberPortabilityV1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LocalNumberPortabilityV1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LNPType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LNPType" nillable="true" type="tns:LNPType" />
  <xs:complexType name="ArrayOfLNPType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LNPType" nillable="true" type="tns:LNPType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLNPType" nillable="true" type="tns:ArrayOfLNPType" />
</xs:schema>