Common.Lib.Integration/Service References/LocalNumberPortabilityV1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/LocalNumberPortabilityV1/LocalNumberPortability/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LocalNumberPortabilityV1" />
  <xs:element name="InsertPortabilityEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LocalNumberPortabilityV1" minOccurs="0" name="portabilityEntry" nillable="true" type="q1:LNPType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPortabilityEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePortabilityEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePortabilityEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPortabilityEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LocalNumberPortabilityV1" minOccurs="0" name="portabilityEntries" nillable="true" type="q2:ArrayOfLNPType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertPortabilityEntriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePortabilityEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LocalNumberPortabilityV1" minOccurs="0" name="portabilityEntries" nillable="true" type="q3:ArrayOfLNPType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePortabilityEntriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPortabilityEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPortabilityEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LocalNumberPortabilityV1" minOccurs="0" name="FindPortabilityEntryResult" nillable="true" type="q4:LNPType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPortabilityEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPortabilityEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LocalNumberPortabilityV1" minOccurs="0" name="GetAllPortabilityEntriesResult" nillable="true" type="q5:ArrayOfLNPType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>