Common.Lib.Integration/Service References/ApAdmin/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LoginService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LoginService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApIpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginInformation" nillable="true" type="tns:LoginInformation" />
</xs:schema>