Common.Lib.Integration/Service References/MetaSphere/Msph_Subscriber_CallTree_AnnouncementsData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.metaswitch.com/sdp/soap/sh/servicedata" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.metaswitch.com/sdp/soap/sh/servicedata" version="1.14" xsi:schemaLocation="http://www.metaswitch.com/sdp/soap/sh/documentation Documentation.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.w3.org/2005/05/xmlmime" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:include schemaLocation="Msph_CommonTypes.xsd" />
  <xs:complexType name="tMsph_Subscriber_CallTree_AnnouncementsData">
    <xs:annotation>
      <xs:documentation>
        Call Tree Announcements Service Indication - used to specify audio recordings for announcements. This indication supports the codec parameter to control the codec used to encode returned audio data.
        <d:Actions xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation"><d:Action>apply</d:Action><d:Action>delete</d:Action></d:Actions><d:AuthLevel xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">admin</d:AuthLevel></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnnouncementData" type="tMsph_Subscriber_CallTree_AnnouncementsData_AnnouncementData">
        <xs:annotation>
          <xs:documentation>
            An announcement recording.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Announcement Data</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Action" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tMsph_Subscriber_CallTree_AnnouncementsData_AnnouncementData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AnnouncementID" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            An identifier that uniquely identifies this announcement from other announcements defined for this subscriber. This should be specified for deletes, to identify the announcement data to be removed.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Announcement ID</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWR-R-</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RecordingFile" type="tBinaryData">
        <xs:annotation>
          <xs:documentation>
            The audio file to use for the announcement. This must be specified for updates, but may be omitted for delete operations. The data in this file and its corresponding content type must be in one of the supported formats defined in the EAS System Planning Guide. The formats enabled on a system can be viewed through Craft.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Recording File</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>