Common.Lib.Integration/Service References/MetaSphere/Msph_Subscriber_FutureDeliveryQueue.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.metaswitch.com/sdp/soap/sh/servicedata" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.metaswitch.com/sdp/soap/sh/servicedata" version="1.14" xsi:schemaLocation="http://www.metaswitch.com/sdp/soap/sh/documentation Documentation.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.w3.org/2005/05/xmlmime" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:include schemaLocation="Msph_CommonTypes.xsd" />
  <xs:complexType name="tMsph_Subscriber_FutureDeliveryQueue">
    <xs:annotation>
      <xs:documentation>
        Subscriber future delivery queue information service indication.  Used to read a subscriber's queued future delivery messages.  This indication only supports ShPull operations. Pulls on this indication return no data if the pulled subscriber's Class of Service does not support Future Delivery.
        <d:Actions xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" /><d:AuthLevel>admin</d:AuthLevel></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FutureDeliveryListEntry" type="tMsph_Subscriber_FutureDeliveryListEntry">
        <xs:annotation>
          <xs:documentation>
            An entry in the subscriber's future delivery list.
            <d:DisplayName>Future Delivery List Entry</d:DisplayName><d:Type>Custom</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMsph_Subscriber_FutureDeliveryListEntry">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="AddressedTo" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The email address of a recipient of this future delivery message.
            <d:DisplayName>Addressed To</d:DisplayName><d:Type>String</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="TimeQueued" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The time the future delivery message was queued (in the subscriber's timezone) in the format HHMM.
            <d:DisplayName>Time Queued</d:DisplayName><d:Type>String</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DateQueued" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The date the future delivery message was queued (in the subscriber's timezone) in the format YYYYMMDD.
            <d:DisplayName>Date Queued</d:DisplayName><d:Type>String</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DeliveryTime" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The delivery time of the future delivery message (in the subscriber's timezone) in the format HHMM.
            <d:DisplayName>Delivery Time</d:DisplayName><d:Type>String</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="DeliveryDate" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The delivery date of the future delivery message (in the subscriber's timezone) in the format YYYYMMDD.
            <d:DisplayName>Delivery Date</d:DisplayName><d:Type>String</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>