Common.Lib.Integration/Service References/MetaSphere/Msph_CustomerGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.metaswitch.com/sdp/soap/sh/servicedata" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.metaswitch.com/sdp/soap/sh/servicedata" version="1.14" xsi:schemaLocation="http://www.metaswitch.com/sdp/soap/sh/documentation Documentation.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.w3.org/2005/05/xmlmime" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:include schemaLocation="Msph_CommonTypes.xsd" />
  <xs:complexType name="tMsph_CustomerGroup">
    <xs:annotation>
      <xs:documentation>
        Customer Groups Service Indication. Used to create, modify and delete Customer Groups.
        <d:Actions xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation"><d:Action>apply</d:Action><d:Action>delete</d:Action></d:Actions><d:AuthLevel xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">admin</d:AuthLevel></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="GroupName" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The name of the Customer Group.  Permitted regex: ^[^\p{C}\p{Zl}\p{Zp}&lt;&gt;;"\\]{1,64}$
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Group Name</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String, Switchable Default</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWR-R-</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="EmailDomain" type="tSwitchableDefaultMultiValuedEmailDomain">
        <xs:annotation>
          <xs:documentation>
            A list of email domains valid for subscribers in this Customer Group.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Email Domain</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MWISwitch" type="tSwitchableDefaultString">
        <xs:annotation>
          <xs:documentation>
            This identifies the SMDI linkset or SIP-Notify domain to be used for this device. This value can be overridden on a per-Device basis using the Msph_Subscriber_Notifications indication.  Permitted regex: .*
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">MWI Switch</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SMSCenter" type="tSwitchableDefaultString">
        <xs:annotation>
          <xs:documentation>
            The name of the SMSC to use for sending MWI notifications for this Customer Group. The SMSC must be configured in the notification server. This value can be overridden on a per-Device basis using the Msph_Subscriber_Notifications indication.  Permitted regex: .*
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">SMS Center</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MWILandline" type="tSwitchableDefaultMWILandlineType">
        <xs:annotation>
          <xs:documentation>
            The MWI mechanism for landline devices for this Customer Group.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">MWI Landline</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MWIWireless" type="tSwitchableDefaultMWIWirelessType">
        <xs:annotation>
          <xs:documentation>
            The MWI mechanism for wireless devices for this Customer Group.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">MWI Wireless</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="HostSwitch" type="tSwitchableDefaultString">
        <xs:annotation>
          <xs:documentation>
            The switch used for spontaneous outdials for devices in this group. This value can be overridden on a per-Device basis using the Msph_Subscriber_BaseInformation indication.  Permitted regex: .*
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Host Switch</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ODRGValue" type="tSwitchableDefaultString">
        <xs:annotation>
          <xs:documentation>
            The Outdial Resource Group for this Customer Group.  Permitted regex: .*
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">ODRG Value</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="FaxGateway" type="tSwitchableDefaultString">
        <xs:annotation>
          <xs:documentation>
            The hostname of the fax gateway for this Customer Group. When we are forwarding a fax e-mail, we send it to this gateway for conversion into a fax call on the normal telephone network. A fax e-mail is an e-mail with a fax image stored as a TIFF attachment.  Permitted regex: .*
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Fax Gateway</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="FaxTransferNumber" type="tSwitchableDefaultString">
        <xs:annotation>
          <xs:documentation>
            The directory number that fax calls are redirected to when transferring to the fax gateway.  If FAX_NUMBER is set on the Subscriber Base Information indication, then that number is used instead.  Permitted regex: ^\d+(:?-\d{1,3})?$
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Fax Transfer Number</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NumberOfMailboxes" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            The number of subscribers in the group (including those in subgroups, and recursively).  If there has been an error calculating this value, it will be set to -1.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Number Of Mailboxes</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Integer, Switchable Default</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">R-R-R-</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory><d:DefaultValue xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">0</d:DefaultValue></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Action" type="xs:string" />
  </xs:complexType>
</xs:schema>