Common.Lib.Integration/Service References/MetaSphere/Msph_Subscriber_Messaging_Status.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.metaswitch.com/sdp/soap/sh/servicedata" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.metaswitch.com/sdp/soap/sh/servicedata" version="1.14" xsi:schemaLocation="http://www.metaswitch.com/sdp/soap/sh/documentation Documentation.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.w3.org/2005/05/xmlmime" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:include schemaLocation="Msph_CommonTypes.xsd" />
  <xs:complexType name="tMsph_Subscriber_Messaging_Status">
    <xs:annotation>
      <xs:documentation>
        Subscriber Messaging Status service indication.  Used to report counts of messages in a subscriber's mailbox.  This indication does not support ShUpdates so you cannot use it to modify message counts.
        <d:Actions xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" /><d:AuthLevel>admin</d:AuthLevel></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="TotalMessages" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Total count of all messages in the mailbox.
            <d:DisplayName>Total Messages</d:DisplayName><d:Type>Integer</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="UrgentMessages" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Count of all urgent messages in the mailbox.
            <d:DisplayName>Urgent Messages</d:DisplayName><d:Type>Integer</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="UnreadMessages" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Count of all unread messages in the mailbox.
            <d:DisplayName>Unread Messages</d:DisplayName><d:Type>Integer</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="UnreadUrgentMessages" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Count of unread urgent messages in the mailbox.
            <d:DisplayName>Unread Urgent Messages</d:DisplayName><d:Type>Integer</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="SavedMessages" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Count of all saved messages in the mailbox.
            <d:DisplayName>Saved Messages</d:DisplayName><d:Type>Integer</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="UnreadSavedMessages" type="xs:int">
        <xs:annotation>
          <xs:documentation>
            Count of unread saved messages in the mailbox.
            <d:DisplayName>Unread Saved Messages</d:DisplayName><d:Type>Integer</d:Type><d:BaseAccess>R-R-R-</d:BaseAccess><d:Mandatory>No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>