Common.Lib.Integration/Service References/MetaSphere/Msph_Subscriber_FMFM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.metaswitch.com/sdp/soap/sh/servicedata" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.metaswitch.com/sdp/soap/sh/servicedata" version="1.14" xsi:schemaLocation="http://www.metaswitch.com/sdp/soap/sh/documentation Documentation.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.w3.org/2005/05/xmlmime" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:include schemaLocation="Msph_CommonTypes.xsd" />
  <xs:complexType name="tMsph_Subscriber_FMFM">
    <xs:annotation>
      <xs:documentation>
        Subscriber FMFM service indication.  Used to manage a FMFM configuration for a subscriber's devices.
        <d:Actions xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation"><d:Action>apply</d:Action></d:Actions><d:AuthLevel xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">admin</d:AuthLevel></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Device" type="tMsph_Subscriber_FMFM_Device">
        <xs:annotation>
          <xs:documentation>
            Settings related to a specific device.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Device</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Action" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tMsph_Device_FMFM_Target_ScheduleEntry">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Days" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The days when the FMFM schedule applies. This should take the form of a string of numbers where 0 corresponds to Monday and 6 to Sunday, in numerical order. For example, Monday, Wednesday and Friday would be represented as '024'.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Days</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="StartTime" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            FMFM Target schedule start time in the format HHmm using 24 hour clock.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Start Time</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="EndTime" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            FMFM Target schedule end time in the format HHmm using 24 hour clock.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">End Time</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMsph_Device_FMFM_Target_Schedule">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ScheduleName" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            FMFM target schedule name.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Schedule Name</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ScheduleEntry" type="tMsph_Device_FMFM_Target_ScheduleEntry">
        <xs:annotation>
          <xs:documentation>
            FMFM target schedule entry.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Schedule Entry</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMsph_Device_FMFM_Target">
    <xs:annotation>
      <xs:documentation>On a ShUpdate, any FMFM targets included will replace existing FMFM targets that were previously stored for the device. If no FMFM targets are supplied on a ShUpdate any existing FMFM targets for the device will be removed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PhoneNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            FMFM target phone number.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Phone Number</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="RingDuration" type="tMsph_Device_FMFM_Target_RingDuration">
        <xs:annotation>
          <xs:documentation>
            FMFM Target ring duration in seconds. This must be between 1 second and 120 seconds.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Ring Duration</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Integer range</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory><d:Range xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">1 - 120</d:Range></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RingListPosition" type="tMsph_Device_FMFM_Target_RingListPosition">
        <xs:annotation>
          <xs:documentation>
            For sequential mode, the position of this target in the list of targets to be rung, where 1 is first. Ring list position should be a number between 1 and the maximum number of Find-Me-Follow-Me targets allowed per device.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Ring List Position</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Integer range</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory><d:Range xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">1 - 2147483647</d:Range></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Schedule" type="tMsph_Device_FMFM_Target_Schedule">
        <xs:annotation>
          <xs:documentation>
            FMFM target schedule.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Schedule</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tMsph_Subscriber_FMFM_Device">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PhoneNumber" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The phone number of this device.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Phone Number</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">R-R-R-</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="FMFMEnabled" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Whether FMFM is enabled for the subscriber.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">FMFM Enabled</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Choice of values</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory><d:Values xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation"><d:Value>True</d:Value><d:Value>False</d:Value></d:Values></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="FMFMMode" type="TMsph_Device_FMFM_FMFMMode">
        <xs:annotation>
          <xs:documentation>
            FMFM mode - sequential or simultaneous.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">FMFM Mode</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Choice of values</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory><d:Values xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation"><d:Value>Simultaneous</d:Value><d:Value>Sequential</d:Value></d:Values></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CallerNameRequested" type="tTrueFalse">
        <xs:annotation>
          <xs:documentation>
            Whether caller name should be requested.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Caller Name Requested</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Choice of values</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory><d:Values xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation"><d:Value>True</d:Value><d:Value>False</d:Value></d:Values></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Target" type="tMsph_Device_FMFM_Target">
        <xs:annotation>
          <xs:documentation>
            FMFM target.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Target</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TMsph_Device_FMFM_FMFMMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Simultaneous" />
      <xs:enumeration value="Sequential" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tMsph_Device_FMFM_Target_RingDuration">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="120" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tMsph_Device_FMFM_Target_RingListPosition">
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="2147483647" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>