Common.Lib.Integration/Service References/MetaSphere/Msph_CustomerGroup_Administrators.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.metaswitch.com/sdp/soap/sh/servicedata" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.metaswitch.com/sdp/soap/sh/servicedata" version="1.14" xsi:schemaLocation="http://www.metaswitch.com/sdp/soap/sh/documentation Documentation.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.w3.org/2005/05/xmlmime" namespace="http://www.w3.org/2005/05/xmlmime" />
  <xs:include schemaLocation="Msph_CommonTypes.xsd" />
  <xs:complexType name="tMsph_CustomerGroup_Administrators">
    <xs:annotation>
      <xs:documentation>
        Customer Group Administrator service indication. Used to manage customer group administrators.
        <d:Actions xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation"><d:Action>apply</d:Action><d:Action>delete</d:Action></d:Actions><d:AuthLevel xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">admin</d:AuthLevel></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="999" name="Administrator" type="tMsph_CustomerGroup_Administrators_Administrator">
        <xs:annotation>
          <xs:documentation>
            An individual Administrator for this Customer Group.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Administrator</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Custom</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Action" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="tMsph_CustomerGroup_Administrators_Administrator">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AdministratorName" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The name of an Administrator for this Customer Group. This should be specified for deletes, to identify the Administrator to be removed.  Permitted regex: ^[^\p{C}\p{Zl}\p{Zp}&lt;&gt;;"\\]{1,64}$
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Administrator Name</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWR-R-</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Yes</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AdministratorPassword" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The password for this Administrator.  The only way to read back the password is to use the encrypted password field instead.  Permitted regex: .*
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Administrator Password</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">-W-W-W</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="EncryptedAdministratorPassword" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The password for this Administrator, in encrypted form.  Use this to migrate passwords - the password field takes precedent, if present.  Permitted regex: .*
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Encrypted Administrator Password</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWRWRW</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AdministratorType" type="tMsph_CustomerGroup_Administrator_Type">
        <xs:annotation>
          <xs:documentation>
            The type of this Administrator.
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Administrator Type</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Choice of values</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWR-R-</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory><d:Values xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation"><d:Value>Group</d:Value><d:Value>Master</d:Value></d:Values></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AdministratorGroup" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            The Customer Group that this Administrator has access to.  Permitted regex: .*
            <d:DisplayName xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">Administrator Group</d:DisplayName><d:Type xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">String</d:Type><d:BaseAccess xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">RWR-R-</d:BaseAccess><d:Mandatory xmlns:d="http://www.metaswitch.com/sdp/soap/sh/documentation">No</d:Mandatory></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tMsph_CustomerGroup_Administrator_Type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Group" />
      <xs:enumeration value="Master" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>