Common.Lib.Integration/Service References/OnDemandConferencingV3/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/OnDemandConferencing/ODConferencingServiceV3/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/OnDemandConferencingV3" />
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/OnDemandConferencing/ODConferencingServiceV3/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/APmaxProvisioning" />
  <xs:element name="GetConferenceSubByAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferenceSubByAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OnDemandConferencingV3" minOccurs="0" name="GetConferenceSubByAddressResult" nillable="true" type="q1:ConferenceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferenceSubByGuid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConferenceSubByGuidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OnDemandConferencingV3" minOccurs="0" name="GetConferenceSubByGuidResult" nillable="true" type="q2:ConferenceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultConferenceValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultConferenceValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/OnDemandConferencingV3" minOccurs="0" name="GetDefaultConferenceValuesResult" nillable="true" type="q3:ConferenceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConferenceSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OnDemandConferencingV3" minOccurs="0" name="conferenceInfo" nillable="true" type="q4:ConferenceType" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="subscriberInfo" nillable="true" type="q5:SubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConferenceSubResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConferenceSubV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/OnDemandConferencingV3" minOccurs="0" name="conferenceInfo" nillable="true" type="q6:ConferenceType" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="internetInfo" nillable="true" type="q7:InternetAccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConferenceSubV2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConferenceSub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/OnDemandConferencingV3" minOccurs="0" name="conferenceInfo" nillable="true" type="q8:ConferenceType" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="internetInfo" nillable="true" type="q9:InternetAccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateConferenceSubResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConferenceBySubAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConferenceBySubAddressResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>