Common.Lib.Integration/Service References/UniveralCallManagementV3/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/UniveralCallManagementV3/UCMService/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/UniveralCallManagementV3" />
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/UniveralCallManagementV3/UCMService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/APmaxProvisioning" />
  <xs:element name="AddUniversalCallManagerSubscriber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UniveralCallManagementV3" minOccurs="0" name="ucmSub" nillable="true" type="q1:UniversalCallMgrSubType" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="subscriber" nillable="true" type="q2:SubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUniversalCallManagerSubscriberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUniversalCallManagerSubscriber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UniveralCallManagementV3" minOccurs="0" name="ucmSub" nillable="true" type="q3:UniversalCallMgrSubType" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="internetInfo" nillable="true" type="q4:InternetAccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUniversalCallManagerSubscriberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUniversalCallManagerSubscriber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUniversalCallManagerSubscriberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniversalCallManagerSubscriber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniversalCallManagerSubscriberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/UniveralCallManagementV3" minOccurs="0" name="GetUniversalCallManagerSubscriberResult" nillable="true" type="q5:UniversalCallMgrSubType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniversalCallManagerNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniversalCallManagerNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/UniveralCallManagementV3" minOccurs="0" name="GetUniversalCallManagerNumberResult" nillable="true" type="q6:UniversalCallMgrSubType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniversalCallManagerBilling">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billingNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="billingServiceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUniversalCallManagerBillingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/UniveralCallManagementV3" minOccurs="0" name="GetUniversalCallManagerBillingResult" nillable="true" type="q7:UniversalCallMgrSubType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribersContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriberAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribersContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/UniveralCallManagementV3" minOccurs="0" name="GetSubscribersContactsResult" nillable="true" type="q8:ArrayOfContactListType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>