Common.Lib.Integration/Service References/VoicemailV4/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a19376:8731/Design_Time_Addresses/VoicemailService/VoicemailV4/?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" />
  <xs:import schemaLocation="http://a19376:8731/Design_Time_Addresses/VoicemailService/VoicemailV4/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/APmaxProvisioning" />
  <xs:import schemaLocation="http://a19376:8731/Design_Time_Addresses/VoicemailService/VoicemailV4/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetVoiceMailBoxesBySubAddressRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subBeginAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subEndAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoiceMailBoxesBySubAddressRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="GetVoiceMailBoxesBySubAddressRangeResult" nillable="true" type="q1:ArrayOfVoiceMailBoxType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoiceMailBoxesByVoiceMailBoxId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailboxId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoiceMailBoxesByVoiceMailBoxIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="GetVoiceMailBoxesByVoiceMailBoxIdResult" nillable="true" type="q2:ArrayOfVoiceMailBoxType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoiceMailBoxesByVoiceMailBoxNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailboxNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoiceMailBoxesByVoiceMailBoxNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="GetVoiceMailBoxesByVoiceMailBoxNumberResult" nillable="true" type="q3:ArrayOfVoiceMailBoxType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewVoiceMailBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailboxAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailboxDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packageGuid" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="mailboxType" type="q4:MailboxType" />
        <xs:element minOccurs="0" name="notificationCenter" type="xs:int" />
        <xs:element minOccurs="0" name="notificationAddress" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="subscriberInfo" nillable="true" type="q5:SubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewVoiceMailBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewVoiceMailBoxResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewChildMailBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="child" nillable="true" type="q6:ChildInfoType" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="childType" type="q7:MailboxType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewChildMailBoxResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddNewChildMailBoxResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVoiceMailBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailboxId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVoiceMailBoxResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChildMailBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parentId" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="child" nillable="true" type="q8:ChildInfoType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChildMailBoxResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVoiceMailBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="vmBoxInfo" nillable="true" type="q9:VoiceMailBoxType" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/APmaxProvisioning" minOccurs="0" name="internetInfo" nillable="true" type="q10:InternetAccessType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVoiceMailBoxResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="GetAllPackagesResult" nillable="true" type="q11:ArrayOfPackageType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackagesLight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackagesLightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="GetAllPackagesLightResult" nillable="true" type="q12:ArrayOfPackageTypeLight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackageGuids">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackageGuidsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllPackageGuidsResult" nillable="true" type="q13:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="packageGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackageDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="GetPackageDetailsResult" nillable="true" type="q14:PackageType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotificationCenters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNotificationCentersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/VoicemailServiceV4" minOccurs="0" name="GetAllNotificationCentersResult" nillable="true" type="q15:ArrayOfNotificationCenterInfoType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>