Common.Lib.Integration/Service References/ServiceReport/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceReportV1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceReportV1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceVersions">
    <xs:sequence>
      <xs:element minOccurs="0" name="CallLogging" type="xs:int" />
      <xs:element minOccurs="0" name="CallingName" type="xs:int" />
      <xs:element minOccurs="0" name="ChangeNumberAnnouncements" type="xs:int" />
      <xs:element minOccurs="0" name="Iptv" type="xs:int" />
      <xs:element minOccurs="0" name="IptvAluMmig" type="xs:int" />
      <xs:element minOccurs="0" name="IptvMediaroom" type="xs:int" />
      <xs:element minOccurs="0" name="LargeScaleConference" type="xs:int" />
      <xs:element minOccurs="0" name="LocalNumberPortability" type="xs:int" />
      <xs:element minOccurs="0" name="Notify" type="xs:int" />
      <xs:element minOccurs="0" name="OnDemandConference" type="xs:int" />
      <xs:element minOccurs="0" name="OriginatingCallManagement" type="xs:int" />
      <xs:element minOccurs="0" name="SipAcs" type="xs:int" />
      <xs:element minOccurs="0" name="Subscriber" type="xs:int" />
      <xs:element minOccurs="0" name="TerminatingCallManagement" type="xs:int" />
      <xs:element minOccurs="0" name="UniversalCallManagement" type="xs:int" />
      <xs:element minOccurs="0" name="Voicemail" type="xs:int" />
      <xs:element minOccurs="0" name="WirelessOta" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceVersions" nillable="true" type="tns:ServiceVersions" />
  <xs:complexType name="ApiVersions">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ServiceVersions">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApiVersions" nillable="true" type="tns:ApiVersions" />
</xs:schema>