Common.Lib.Integration/Service References/CallingNameV3/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/CallingNameService/CallingNameServiceV3/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" />
  <xs:element name="GetCallingEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallingEntryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" minOccurs="0" name="GetCallingEntryResult" nillable="true" type="q1:CallingNameType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallingEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCallingEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" minOccurs="0" name="GetCallingEntriesResult" nillable="true" type="q2:ArrayOfCallingNameType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCallingEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bgId" type="xs:int" />
        <xs:element minOccurs="0" name="presentation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCallingEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCallingEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" minOccurs="0" name="entries" nillable="true" type="q3:ArrayOfCallingNameType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCallingEntriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCallingEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bgId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCallingEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCallingEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" minOccurs="0" name="entries" nillable="true" type="q4:ArrayOfCallingNameType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCallingEntriesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScreenPopEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllScreenPopEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" minOccurs="0" name="GetAllScreenPopEntriesResult" nillable="true" type="q5:ArrayOfScreenPopType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScreenPopEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="npaNxx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScreenPopEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScreenPopEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="npaNxx" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScreenPopEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScreenPopSubscriber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calledNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="videoScreenPopEnabled" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertScreenPopSubscriberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNetEchoSubscribers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="npaNxx" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllNetEchoSubscribersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" minOccurs="0" name="GetAllNetEchoSubscribersResult" nillable="true" type="q6:ArrayOfScreenPopSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetEchoSubscriber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="phoneNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetEchoSubscriberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" minOccurs="0" name="GetNetEchoSubscriberResult" nillable="true" type="q7:ScreenPopSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScreenPopSubscriber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="calledNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScreenPopSubscriberResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>