Common.Lib.Integration/Service References/CallingNameV3/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CallingNameServiceV3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CallingNameType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BgId" type="xs:int" />
      <xs:element minOccurs="0" name="CName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CallingNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Presentation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CallingNameType" nillable="true" type="tns:CallingNameType" />
  <xs:complexType name="ArrayOfCallingNameType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CallingNameType" nillable="true" type="tns:CallingNameType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCallingNameType" nillable="true" type="tns:ArrayOfCallingNameType" />
  <xs:complexType name="ArrayOfScreenPopType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScreenPopType" nillable="true" type="tns:ScreenPopType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScreenPopType" nillable="true" type="tns:ArrayOfScreenPopType" />
  <xs:complexType name="ScreenPopType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescriptionField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NpaNxx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServersField" nillable="true" type="tns:ArrayOfScreenPopServerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreenPopType" nillable="true" type="tns:ScreenPopType" />
  <xs:complexType name="ArrayOfScreenPopServerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScreenPopServerType" nillable="true" type="tns:ScreenPopServerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScreenPopServerType" nillable="true" type="tns:ArrayOfScreenPopServerType" />
  <xs:complexType name="ScreenPopServerType">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescriptionField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddressField" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PortNumberField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreenPopServerType" nillable="true" type="tns:ScreenPopServerType" />
  <xs:complexType name="ArrayOfScreenPopSubscriberType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScreenPopSubscriberType" nillable="true" type="tns:ScreenPopSubscriberType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScreenPopSubscriberType" nillable="true" type="tns:ArrayOfScreenPopSubscriberType" />
  <xs:complexType name="ScreenPopSubscriberType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ScreenPopEnabledField" type="xs:boolean" />
      <xs:element minOccurs="0" name="SubscriberPhoneNumberField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScreenPopSubscriberType" nillable="true" type="tns:ScreenPopSubscriberType" />
</xs:schema>