Common.Lib.Integration/Service References/WirelessOtaV1/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://a19226:8731/Design_Time_Addresses/WirelessOtaV1/WirelessOta/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WirelessOtaV1" />
  <xs:element name="SetWirelessOtaConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="config" nillable="true" type="q1:WirelessOtaConfigElementType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWirelessOtaConfigResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWirelessOtaConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="config" nillable="true" type="q2:WirelessOtaConfigElementType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWirelessOtaConfigResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWirelessOtaConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWirelessOtaConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="GetWirelessOtaConfigResult" nillable="true" type="q3:ArrayOfWirelessOtaConfigElementType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemNetworkID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="data" nillable="true" type="q4:SystemNetworkIDType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSystemNetworkIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSystemNetworkID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="data" nillable="true" type="q5:SystemNetworkIDType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSystemNetworkIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemNetworkIDs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemNetworkIDsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="GetSystemNetworkIDsResult" nillable="true" type="q6:ArrayOfSystemNetworkIDType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWirelessOtaElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="data" nillable="true" type="q7:WirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertWirelessOtaElementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWirelessOtaElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="data" nillable="true" type="q8:WirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWirelessOtaElementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWirelessOtaElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="data" nillable="true" type="q9:WirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWirelessOtaElementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MEID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ESN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="FindWirelessOtaElementResult" nillable="true" type="q10:WirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByMEID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MEID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByMEIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="FindWirelessOtaElementByMEIDResult" nillable="true" type="q11:WirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByESN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ESN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByESNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="FindWirelessOtaElementByESNResult" nillable="true" type="q12:WirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByMIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByMINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="FindWirelessOtaElementByMINResult" nillable="true" type="q13:WirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subscriber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="FindWirelessOtaElementV2Result" nillable="true" type="q14:WirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByMEIDV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MEID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByMEIDV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="FindWirelessOtaElementByMEIDV2Result" nillable="true" type="q15:ArrayOfWirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByESNV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ESN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindWirelessOtaElementByESNV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="FindWirelessOtaElementByESNV2Result" nillable="true" type="q16:ArrayOfWirelessOtaSubscriberType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnnouncementCodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnnouncementCodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WirelessOtaV1" minOccurs="0" name="GetAllAnnouncementCodesResult" nillable="true" type="q17:ArrayOfAnnouncementCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>